body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 10px 200px;
}

.title {
  font-weight: bold;
}

.jk {
  font-weight: normal;
}

.card {
  padding: 20px;
  background-color: rgb(213, 208, 200);
  border-radius: 10px;
  font-size: 14px;
}

.text {
  font-size: 14px;
  letter-spacing: 0.6px;
  word-spacing: 5px;
  text-align: justify;
  padding: 15px 0px;
  line-height: 1.5;
}

.ikon {
  padding: 10px;
  background-color: rgb(191, 184, 184);
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}

input {
  padding: 8px;
  margin-bottom: 25px;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.form {
  width: 700px;
}

button {
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.btn-kirim {
  background-color: rgb(39, 195, 195);
  color: aliceblue;
}

.text-center {
  text-align: center;
}

.title-status {
  font-size: 28px;
}

.deskripsi-status {
  font-size: 24px;
}

.text-hasil {
  font-size: 14px;
  letter-spacing: 0.6px;
  word-spacing: 5px;
  line-height: 1.5;
}

.tombol {
  margin: 20px 0px;
}

#deskripsi2 li {
  list-style: none;
  margin-bottom: 10px;
}

.kategori {
  margin-top: 30px;
}

#deskripsi1 {
  margin-bottom: 30px;
}

.gambarKonten {
  display: flex;
  padding-left: 300px;
  padding-bottom: 50px;
}

.gambar {
  width: 25%;
  height: 25%;
  border-radius: 15px;
  padding: 0px 8px;
}
